<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/css/footer.css" th:href="@{/css/footer.css}"/>
<script src="https://kit.fontawesome.com/d3f2cbc780.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,30
	0;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/bootstrapValidator.css">
	<link rel="stylesheet" type="text/css" href="static/css/nav.css" th:href="@{/css/nav.css}"  />


<head> 
<style>

	body {
	background-color:#251F22; 
}
</style>
    <title>Proyecto PET</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="">
    <main>
      <div class="hero" id="hero">
			<nav th:fragment="nav">
				<a href="/inicio/retornar" style="text-decoration: none"><h2 class="logo">Pet Shop <span>Panchitos</span></h2> </a>
				<ul >					
					<li ><a href="/producto/catalogo" class="nav-link">Catalogo</a></li>
					<li ><a href="/usuario/listar" class="nav-link">Usuarios ADM</a></li>
					<li ><a href="/producto/listar" class="nav-link">Productos ADM</a></li>
					<li th:if="${usuario.cod_tipo == 1}"><a href="/util/listar" class="nav-link">Util ADM</a></li>
					<li><a href="/inicio/sedes" class="nav-link">Nuestras sedes</a></li>
					<li th:if="${usuario.cod_tipo == 2}"><a href="/perfil/cargar" class="nav-link">Perfil</a></li>
				</ul>
				<a href="/login/cargar" type="button" class="cta">Cerrar Sesion</a>
			</nav>
		</div>
		<br>
		  <br>
		<center>
		<div style="color: white; width: 70%;">
    	<h1  style="text-shadow: 2px 2px 2px #ea1538;">Listado de productos</h1>
    	<a href="/producto/cargar" class="btn btn-primary">Registrar</a>
    	<a href="/reportes/Productos" target="_blank" class="btn btn-primary">Reporte PDF</a>
		  <a href="/reportes/stocks" target="_blank" class="btn btn-primary">Reporte Grafico</a>
		  <br>
		  <br>
		  <br>
		  <br>
    	<table class="table">
			  <thead>
			    <tr>
			      <th style="color: #ea1538;">Código de Producto</th>
			      <th style="color: #ea1538;">Categoria</th>
			      <th style="color: #ea1538;">Nombre de Producto</th>
			      <th style="color: #ea1538;">Precio</th>
			      <th style="color: #ea1538;">Stock</th>
			      <th style="color: #ea1538;">Estado</th>
			      <th style="color: #ea1538;">Imagen</th>
			      <th style="color: #ea1538;">Acciones</th>
			      <th style="color: #ea1538;">Acciones</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="p : ${lstProductos}">
			      <th th:text="${p.cod_prod}"></th>
			      <td th:text="${p.categoria.desc_cate}"></td>
			      <td th:text="${p.desc_prod}"></td>
			      <td th:text="${#numbers.formatCurrency(p.precio)}"></td>
			      <td th:text="${p.stock}"></td>
			      <td th:text="${p.estado.desc_est}"></td>
			      <td><img th:src="@{/img/{id}.jpeg(id=${p.cod_prod})}" width="50" ></td>
			 
			      <td>
			      
			      		<form action="/producto/editar" method="post">
			      			<input type="hidden" name="cod_prod" th:value="${p.cod_prod}">
			      			<button type="submit" class="btn btn-primary">Editar</button>
			      		</form>
			      </td>
			      
			       <td>
			      		<form action="/producto/eliminar" method="post">
			      			<input type="hidden" name="cod_prod" th:value="${p.cod_prod}">
			      			<button type="submit" class="btn btn-danger">Eliminar</button>
			      		</form>
			      </td>
			      
			    </tr>
			  </tbody>
		</table>
    	  </div>
    	  </center>
	</main>
	<br>
	<br>	
	<footer th:replace="principal :: footer">
    	</footer>
    	
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>